llama_index
llama-index-llms-ollama
flask
flask-restx
faiss-cpu
langchain_huggingface
langchain_community
langchain_community[ollama]
langchain
openai
gradio
ldap3
pypdf
tiktoken
chromadb
langchain_openai
pydantic
langchain-core
ollama
qdrant-client
llama-index-embeddings-langchain
llama-index-vector-stores-qdrant
langchain-ollama
langchain-qdrant
llama-index-embeddings-fastembed
llama-index-embeddings-langchain

